@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #081b29;
    font-family:sans-serif;
}
.btn:hover{
    animation-name: button animation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    fill: #081b29;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}


.shdw{
    filter: drop-shadow(40px 40px 40px rgba(7, 142, 253, 0.189));
}